.video-box{
    margin: 1vh 0;
}

.thumbnail{
    margin-right: 1vw;
    cursor: pointer;
}

.video-title{
    font-size: large;
    cursor: pointer;
    color: blue;
}

.video-data{
    font-size: small
}

.video-desc{
}
