<div class="container">
    <form fxLayout fxLayoutAlign="start center" class="content">
        <button class="blocks fa fa-home button fa-2x" type="button" [routerLink] = "['/']" fxFlex></button>
        <input class = "search-box blocks" [(ngModel)] = "searchInput" 
        name="searchInput" type = "text" fxFlex = "70%" fxFlex.xs = "41%" required>
        <button class="blocks fa fa-search button fa-2x button" type = "submit" fxFlex (click)="search()"></button>
        <button class="blocks fa fa-youtube fa-2x button" type="button" (click) = "goToYoutube()" fxFlex></button>
    </form>
</div>
